<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
		<script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>
		<script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
	</head>
<body>
	<hr>

	</div>
	<b><big>RequestNLP List :</big></b>
	<table>
	    <tr id="row">
	    	<th class="id">ID</th>
	    	<th class="single_id">Single ID</th>
	    	<th class="chat_id">Chat ID</th>
	    	<th class="platform">Platform</th>
	    	<th class="date">Date</th>
			<th class="text">Text</th>
			<th class="intent">Intent</th>
		<th class="func1">Remove</th>
		<th class="func2">Modify</th>
	    </tr>
	{% for data in datas %}
		<tr class="datas">
			<td class="id">{{ data["id"] }}</td>
			<td class="single_id">{{ data["simgle_id"] }}</td>
			<td class="chat_id">{{ data["chat_id"] }}</td>
			<td class="platform">{{ data["platform"] }}</td>
			<td class="date">{{ data["date"] }}</td>
			<td class="text">{{ data["text"] }}</td>
			<td class="intent">{{ data["intent"] }}</td>
			<td class="func1"><a href="./remove?_id={{ data['id'] }}"><button type="submit">DELETE</button></a></td>
			<td class="func1"><a href="./update?_id={{ data['id'] }}"><button type="submit">EDIT</button></a></td>
		</tr>
	{% endfor %}
	</table>

	<hr/>
	<form action="/action" method="POST">
	<table class="none">
		<tr>
			<td><b><big><label>Add a Task : </label></big></b></td>
		</tr>
		<tr>
		<td><input type="text" name="name" placeholder="Taskname" /></td>
		<td><textarea name="desc" rows="1" cols="30" placeholder="Enter Description here..." required></textarea></td>
		<td><input type="text" name="date" placeholder="Date" /></td>
		<td><input type="text" name="pr" placeholder="Priority" /></td>
		<td><button type="submit"> Create </button></td>
		</tr>
	</form>
	</table>
	<script>
	</script>
</body>
</html>