<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >

	</head>
<body>
	<hr>

	</div>
	<b><big>Stopword List :</big></b>
	<table>
	    <tr id="row">
	    	<th class="id">ID</th>
	    	<th class="kata">Kata</th>
		<th class="func1">Remove</th>
		<th class="func2">Modify</th>
	    </tr>
	{% for data in datas %}
		<tr class="datas">
			<td class="id">{{ data["id"] }}</td>
			<td class="kata">{{ data["kata"] }}</td>
			<td class="func1"><a href="./remove?_id={{ data['id'] }}"><button type="submit">DELETE</button></a></td>
			<td class="func1"><a href="./update?_id={{ data['id'] }}"><button type="submit">EDIT</button></a></td>
		</tr>
	{% endfor %}
	</table>

	<hr/>
	<form action="/nlp/stopword/create" method="POST">
	<table class="none">
		<tr>
			<td><b><big><label>Tambah Stopword: </label></big></b></td>
		</tr>
		<tr>
		<td><input type="kata" name="kata" placeholder="kata" /></td>
		<td><button type="submit"> Create </button></td>
		</tr>
	</form>
	</table>
	<script>
	</script>
</body>
</html>