{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
<br><br><br><br>

<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
    <br>
        <div class="well">
        <h1>Register</h1>
            <form action = "register" method = "POST">
                 <p>Name <input type = "text" name = "Name" /></p>
                 <p>Physics <input type = "text" name = "Physics" /></p>
                 <p>Chemistry <input type = "text" name = "chemistry" /></p>
                 <p>Maths <input type ="text" name = "Mathematics" /></p>
                 <p><input type = "submit" value = "submit" /></p>
            </form>
            <p>Already signed up? Please <a href="{{ url_for('security.login') }}">log in</a>.</p>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Nlp-Engine Admin</h1>
            <p class="lead">
                Authentication
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

                email: <b>admin</b> <br>
                password: <b>admin</b> <br>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
{% endif %}

{% endblock body %}