<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <h1>Setting NLP-Engine</h1>
    <div>
      <table style="width:50%">
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Value</th>
          <th></th>
          <th></th>
        </tr>
        {% for data in datas %}
        <tr>
          <td>{{ data['code']}}</td>
          <td>{{ data['description']}}</td>
          <td><input style="width: 87%;
              border: none;
              border-bottom-width: medium;
              border-bottom-style: none;
              border-bottom-color: currentcolor;
              border-bottom: 3px solid #009688;
              font-family: monospace;
              font-size: 17px;" type="text" id="value{{ data['code'] }}" name="value{{ data['code'] }}" placeholder="Value" value={{ data['value']}}></td>
          <td><input id="buttonInput" type="submit" value="Update"  onclick="updateSetting('{{ data['code'] }}')"></td>
          <td id="respon{{ data['code'] }}"></td>
        </tr>
        {% endfor %}
      </table>



      </div>


    </div>

  </body>
</html>

<script>
function updateSetting(code) {
    value=document.getElementById("value"+code).value;
    var data = new FormData();
    data.append('code', code);
    data.append('value', value);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'setting/update', true);
    xhr.onload = function () {
        // do something to response
        console.log(this.responseText);
        document.getElementById("respon"+code).innerHTML=this.responseText;
    };
    xhr.send(data);
}
</script>