{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content" >
    <div id="content-setting">




        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Form Input Trigger</h3>
            </div>

        <div class="well">
            <form action="/inputtrigger/save" method="POST" name="register_user_form">
                <input type="hidden" name="page" value={{ page }}>
                <input type="hidden" name="limit" value={{ limit }}>
                <input type="hidden" name="countWords" value={{ countWords }}>
                <input type="hidden" name="search" value="{{ searchText }}">
                <input type="hidden" name="searchAnswer" value="{{ searchTextAnswer }}">
                <input type="hidden" name="searchMerchantId" value="{{ searchMerchantId }}">
                <input type="hidden" name="searchUpdateBy" value="{{ searchUpdateBy }}">
                <input type="hidden" name="token" value="{{ current_user.token }}">
                <input type="hidden" name="mode" value="{{ mode }}">
                <input type="hidden" name="id" value={{ data._id }}>
                <input type="hidden" name="update_by" value={{ current_user.email }}>

                <div class="form-group">
                    <select name="merchantId" id="merchantId">
                        <option value=0 >GLOBAL</option>
                        {% for merchant in listMerchant %}
                            {% if merchant.name != None %}
                            <option value={{ merchant.id }} >{{ merchant.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" list="intentList" name="intent" id="intent" value="{{ data.intent }}" placeholder="Intent...">
                        <datalist id="intentList">
                            {% for intent in listIntent %}
                            <option value="{{ intent }}">
                            {% endfor %}
                        </datalist>
                </div>
                <div class="form-group">
                      <input type="text" class="form-control" name="question" id="question" value="{{ data.question }}" placeholder="Question...">
                </div>
                <div>
                      <textarea class="textarea" name="answer" id="answer" placeholder="Answer..." style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{{ data.answer }}</textarea>
                </div>

                <div class="box-footer clearfix">
                  <button type="submit" class="pull-right btn btn-default" id="saveInputTrigger">Save
                    <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </form>

        </div>


        </div>
    </div>
</section>
<script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<script type="text/javascript">

  $(document).ready(function(){
    merchantId = '{{ data.merchantId }}'
    $( "#merchantId" ).val(merchantId)
   });
</script>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Nlp-Engine Admin</h1>
            <p class="lead">
                Authentication
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser : <br><br>

                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

{% endblock body %}


