{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
{% if current_user.is_authenticated %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content" >
    <div id="content-setting">




        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Input Trigger</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="dataTables_length" id="example1_length">
                            <label>
                                Show
                                <select name="selectLimit" id="selectLimit" class="form-control input-sm" >
                                    <option value=10>10</option>
                                    <option value=25>25</option>
                                    <option value=50>50</option>
                                    <option value=100>100</option>
                                </select>
                                entries
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div id="example1_filter" class="dataTables_filter pull-right">
                            <label>
                                <select name="searchMerchantId" id="searchMerchantId">
                                    <option value=-1 >ALL</option>
                                    <option value=0 >GLOBAL</option>
                                    {% for merchant in listMerchant %}
                                        {% if merchant.name != None %}
                                        <option value={{ merchant.id }} >{{ merchant.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>
                            <label>Update By:<input id="searchUpdateBy" name="searchUpdateBy" class="form-control input-sm" placeholder="" type="search"></label>
                            <label>Search Answer:<input id="searchTextAnswer" name="searchTextAnswer" class="form-control input-sm" placeholder="" type="search"></label>
                            <label>Search Question:<input id="searchText" name="searchText" class="form-control input-sm" placeholder="" type="search"></label>
                            <label>Count Words:<input id="countWords" name="countWords" class="form-control input-sm" placeholder=""  type="number"></label>
                        </div>
                    </div>
                </div>
                  <div class="row">
                  <thead>
                <tr>
                  <th>
                      {% if orderBy == 'id' %}
                        {% if ascending == 1 %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=-1">
                                <i class="fa fa-sort-asc" aria-hidden="true" style="color:blue" >Id</i>
                            </a>
                        {% else %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=1">
                                <i class="fa fa-sort-desc" aria-hidden="true" style="color:blue">Id</i>
                            </a>
                        {% endif %}
                      {% else %}
                        <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy=id&ascending=1">
                        Id
                        </a>
                      {% endif %}

                  </th>
                  <th>
                      {% if orderBy == 'text' %}
                        {% if ascending == 1 %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=-1">
                                <i class="fa fa-sort-asc" aria-hidden="true" style="color:blue" >Question</i>
                            </a>
                        {% else %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=1">
                                <i class="fa fa-sort-desc" aria-hidden="true" style="color:blue">Question</i>
                            </a>
                        {% endif %}
                      {% else %}
                        <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy=text&ascending=1">
                            Question
                        </a>
                      {% endif %}
                  </th>
                  <th>Answer</th>
                  <th>
                      {% if orderBy == 'categories' %}
                        {% if ascending == 1 %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=-1">
                                <i class="fa fa-sort-asc" aria-hidden="true" style="color:blue" >Intent</i>
                            </a>
                        {% else %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=1">
                                <i class="fa fa-sort-desc" aria-hidden="true" style="color:blue">Intent</i>
                            </a>
                        {% endif %}
                      {% else %}
                        <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy=categories&ascending=1">
                        Intent
                        </a>
                      {% endif %}
                  </th>
                  <th>
                      {% if orderBy == 'merchantId' %}
                        {% if ascending == 1 %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=-1">
                                <i class="fa fa-sort-asc" aria-hidden="true" style="color:blue" >Merchant Id</i>
                            </a>
                        {% else %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=1">
                                <i class="fa fa-sort-desc" aria-hidden="true" style="color:blue">Merchant Id</i>
                            </a>
                        {% endif %}
                      {% else %}
                        <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy=merchantId&ascending=1">
                        Merchant Id
                        </a>
                      {% endif %}
                  </th>
                  <th>
                      {% if orderBy == 'updated_date' %}
                        {% if ascending == 1 %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=-1">
                                <i class="fa fa-sort-asc" aria-hidden="true" style="color:blue" >Updated Date</i>
                            </a>
                        {% else %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=1">
                                <i class="fa fa-sort-desc" aria-hidden="true" style="color:blue">Updated Date</i>
                            </a>
                        {% endif %}
                      {% else %}
                        <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy=updated_date&ascending=1">
                        Updated Date
                        </a>
                      {% endif %}
                  </th>
                  <th>
                      {% if orderBy == 'update_by' %}
                        {% if ascending == 1 %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=-1">
                                <i class="fa fa-sort-asc" aria-hidden="true" style="color:blue" >Update By</i>
                            </a>
                        {% else %}
                            <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending=1">
                                <i class="fa fa-sort-desc" aria-hidden="true" style="color:blue">Update By</i>
                            </a>
                        {% endif %}
                      {% else %}
                        <a href="/inputtrigger?limit={{ limit }}&page={{ page }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy=update_by&ascending=1">
                        Update By
                        </a>
                      {% endif %}
                  </th>
                </tr>
                </thead>
                <tbody>
                {% for data in datas.data %}
                <tr>
                    <td>{{ data.id }}</td>
			        <td>{{ data.text }}</td>
                    <td>{{ data.answer }}</td>
                    <td><p>{{ data.categories }}</p></td>
			        <td>{{ data.merchantId }}-{{ data.merchantName }}</td>
			        <td>{{ data.updated_date }}</td>
			        <td>{{ data.update_by }}</td>
			        <td class="text-right">
                      <div class="row">
					    <form action="/inputtrigger/delete" method="GET" class="pull-right">
						    <input type="hidden" name="page" value="{{ page }}">
                            <input type="hidden" name="limit" value="{{ limit }}">
                            <input type="hidden" name="countWords" value="{{ countWords }}">
                            <input type="hidden" name="search" value="{{ searchText }}">
                            <input type="hidden" name="searchAnswer" value="{{ searchTextAnswer }}">
                            <input type="hidden" name="searchMerchantId" value="{{ searchMerchantId }}">
                            <input type="hidden" name="searchUpdateBy" value="{{ searchUpdateBy }}">
                            <input type="hidden" name="id" value="{{ data._id }}">
                            <input type="hidden" name="merchantId" value="{{ data.merchantId }}">
                            <input type="hidden" name="token" value="{{ current_user.token }}">
						    <input type="submit" class="btn btn-danger" data-toggle="confirmation" { data-title="Data akan dihapus?" } value="Delete">
					    </form>
					  <a class="btn btn-primary pull-right" href="/inputtrigger/{{ data._id }}/update?merchantId={{ data.merchantId }}">Edit</a>
				    </div>
                </tr>
                {% endfor %}
                </tbody>
                  </div>
              </table>
              <div class="box-footer">
                  <div class="row">
                      <div class="col-sm-5">
                          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{ ((page-1) * limit +1) }} to {{ page * limit }} of {{ datas.count }} entries</div>
                          <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                              <ul class="pagination">&orderBy={{ orderBy }}&ascending={{ ascending }}
                                  <li class="paginate_button previous {% if page==1 %} disabled {% endif %} " id="example1_previous">
                                      <a href="/inputtrigger?limit={{ limit }}&page={{ page-1 }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending={{ ascending }}"  aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                  </li>
                                  <li class="paginate_button next {% if (page+1)*limit > datas.count %} disabled {% endif %}" id="example1_next">
                                      <a href="/inputtrigger?limit={{ limit }}&page={{ page+1 }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}&orderBy={{ orderBy }}&ascending={{ ascending }}" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-sm-7 pull-right">

                      </div>
                  </div>
             <a href="/inputtrigger/create?limit={{ limit }}&page={{ page+1 }}&search={{ searchText }}&searchAnswer={{ searchTextAnswer }}&countWords={{ countWords }}&searchMerchantId={{ searchMerchantId }}&searchUpdateBy={{ searchUpdateBy }}" class="btn btn-info" role="button">Tambah Data </a>
              </div>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<script type="text/javascript">

  $(document).ready(function(){
        page = {{ page }}
        limit = {{ limit }}
        searchText = '{{ searchText }}'
        searchTextAnswer = '{{ searchTextAnswer }}'
        countWords = '{{ countWords }}'
        countData = {{ datas.count }}
        searchMerchantId = {{ searchMerchantId }}
        searchUpdateBy = '{{ searchUpdateBy }}'
        orderBy = '{{ orderBy }}'
        ascending = {{ ascending }}
        $("#searchMerchantId").val(searchMerchantId);
        $("#selectLimit").val(limit);
        $("#searchUpdateBy").val(searchUpdateBy);
        $("#searchText").val(searchText);
        $("#searchTextAnswer").val(searchTextAnswer);
        $("#countWords").val(countWords)

        $('#searchMerchantId').change(function(){
            searchMerchantId = $("#searchMerchantId").val();
            page=1;
            window.location.replace("/inputtrigger?limit="+String(limit)+"&page="+String(page)+"&search="+searchText+"&searchAnswer="+searchTextAnswer+"&countWords="+countWords+"&searchMerchantId="+searchMerchantId+"&searchUpdateBy="+searchUpdateBy)
        });
        $('#selectLimit').change(function(){
            limit = $("#selectLimit").val();
            page=1;
            window.location.replace("/inputtrigger?limit="+String(limit)+"&page="+String(page)+"&search="+searchText+"&searchAnswer="+searchTextAnswer+"&countWords="+countWords+"&searchMerchantId="+searchMerchantId+"&searchUpdateBy="+searchUpdateBy)
        });

        $('#searchText').keypress(function (e) {
          if (e.which == 13) {
            searchText = $("#searchText").val();
            page=1;
            window.location.replace("/inputtrigger?limit="+String(limit)+"&page="+String(page)+"&search="+searchText+"&searchAnswer="+searchTextAnswer+"&countWords="+countWords+"&searchMerchantId="+searchMerchantId+"&searchUpdateBy="+searchUpdateBy)
          }
        });
        $('#searchUpdateBy').keypress(function (e) {
          if (e.which == 13) {
            searchUpdateBy = $("#searchUpdateBy").val();
            page=1;
            window.location.replace("/inputtrigger?limit="+String(limit)+"&page="+String(page)+"&search="+searchText+"&searchAnswer="+searchTextAnswer+"&countWords="+countWords+"&searchMerchantId="+searchMerchantId+"&searchUpdateBy="+searchUpdateBy)
          }
        });
        $('#searchTextAnswer').keypress(function (e) {
          if (e.which == 13) {
            searchTextAnswer = $("#searchTextAnswer").val();
            page=1;
            window.location.replace("/inputtrigger?limit="+String(limit)+"&page="+String(page)+"&search="+searchText+"&searchAnswer="+searchTextAnswer+"&countWords="+countWords+"&searchMerchantId="+searchMerchantId+"&searchUpdateBy="+searchUpdateBy)
          }
        });

        $('#countWords').keypress(function (e) {
          if (e.which == 13) {
            countWords = $("#countWords").val();
            page=1;
            window.location.replace("/inputtrigger?limit="+String(limit)+"&page="+String(page)+"&search="+searchText+"&searchAnswer="+searchTextAnswer+"&countWords="+countWords+"&searchMerchantId="+searchMerchantId+"&searchUpdateBy="+searchUpdateBy)
          }
        });
   });
</script>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Nlp-Engine Admin</h1>
            <p class="lead">
                Authentication
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser : <br><br>

                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

{% endblock body %}


