{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
{% if current_user.is_authenticated %}
<script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet"></link>
  <!-- Theme style -->
  <link href="{{url_for('static',filename='css/AdminLTE.min.css')}}" rel="stylesheet"></link>
  <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
  <link href="{{url_for('static',filename='css/skins/_all-skins.min.css')}}" rel="stylesheet"></link>
  <!-- iCheck -->
  <link href="{{url_for('static',filename='plugins/iCheck/flat/blue.css')}}" rel="stylesheet"></link>
  <!-- Morris chart -->
  <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet"><script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<script src="{{url_for('static',filename='plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
<section class="content-header">
    <h1>
      Simulation & Input Trigger
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Simulation</li>
  </ol>
</section>

<section class="content" >
    <div id="content-setting">
        <div class="row">


        <!-- Chat box -->
          <div class="box box-success" >
            <div class="box-header">
              <i class="fa fa-comments-o"></i>

              <h3 class="box-title">Chat With Merchant => </h3>
                <select id="merchantIdChat">

                </select>


              <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                  <button type="button" class="btn btn-default btn-sm active" ><i class="fa fa-square text-green"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
                </div>
              </div>
            </div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
            <div class="box-body chat" id="chat-box" style="overflow: auto; position:absolute; width: auto; height: 250px;">

            </div>
            </div>

        <!-- /.chat -->
        <div class="box-footer" id="userInput">
          <div class="input-group">
            <input id="textInputChat" name="textInputChat" class="form-control" placeholder="Type message...">

            <div class="input-group-btn">
              <button id="buttonInputChat" type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        </div>
        <!-- /.box (chat box) -->

        <!-- quick email widget -->
        <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-comments-o"></i>

              <h3 class="box-title">Trigger Input</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
          </div>
          <div class="box-body">
              <form action="#" method="post">
                  <div class="form-group">
                      <select id="merchantIdTrigger">

                      </select>
                  </div>
                <div class="form-group">
                    <input type="text" class="form-control" list="intentList" id="triggerIntent" placeholder="Intent...">
                    <datalist id="intentList">
                    </datalist>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="triggerQuestion" placeholder="Question...">
              </div>
              <div>
                  <textarea class="textarea" id="triggerAnswer" placeholder="Answer..." style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>
          </form>
        </div>
        <div class="box-footer clearfix">
          <button type="button" class="pull-right btn btn-default" id="saveInputTrigger">Save
            <i class="fa fa-arrow-circle-right"></i></button>
        </div>
        </div>


        </div>
    </div>
</section>

<script type="text/javascript">
    function addTriggerFromChat(text) {
        document.getElementById("triggerQuestion").value=text

    }
    $(document).ready(function(){
        chatId = '{{ current_user.chat_id }}'
        merchantId = '{{ current_user.merchant_id }}'
        name = '{{ current_user.name }}'
        token = '{{ current_user.token }}'
        scoreMinTO = 0
        var rekapIntent =[]



        initChat()
        function initChat() {
            $.ajax({
                url: "/nlp/request/list/chat",
                headers: {'Content-Type' : 'application/json'},
                type: 'POST',
                data: JSON.stringify({"token" : token , "chat_id" : chatId}),
                dataType: 'JSON',
                success: function (result) {
                    for (i = 0; i < result.data.length; i++) {
                        addItemChat(result.data[i])
                    }
                }
            });
        }
        function addItemChat(data) {
                var i;
                var botHtml ='<div class="item">'+
                    '<img src="../static/img/user2-160x160.jpg" alt="user image" class="online">'+
                    '<p class="message">'+
                    '  <a href="#" class="name">'+
                    '    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> '+ data.date +'</small>'+
                    '    '+name+
                    '  </a>'+data.raw+
                    '<button type="button" class="btn btn-success" onclick="addTriggerFromChat('+String.fromCharCode(39)+data.raw + String.fromCharCode(39)+') " ><i class="fa fa-eyedropper" ></i></button>'+
                    '</p>'
                botHtml =botHtml + '<div class="item pull-right">'+
                    '<img src="../static/img/user3-128x128.jpg" alt="user image" class="online">'+
                    '<p class="message">'+
                    '  <a href="#" class="name">'+
                    '    <small class="text-muted pull-right"> '+
                    '       <i> '+ data.intent+'</i> '+
                    '       <i> '+ data.score +'</i> '+
                    '       <i class="fa fa-clock-o"></i> '+ data.date+
                    '    </small>'+
                    '    Nlp-Engine-Bot '+
                    '  </a>'+data.reply+
                    '</p>'
                if (data.products) {
                    if (data.products.total) {
                        for (j = 0; j < data.products.list.length; j++) {
                            botHtml = botHtml+
                            '<div class="attachment">'+
                            '   <img src="'+ data.products.list[j].image+'" width=20% /> '+
                            '    <h4>'+data.products.list[j].name+'</h4>'+
                            '    <p class="filename">'+
                            '        Rp. '+data.products.list[j].price+
                            '    </p>'+
                            '    <p class="filename">'+
                            '        '+data.products.list[j].description+
                            '    </p>'+
                            '    <div class="pull-right">'+
                            '        <button type="button" class="btn btn-primary btn-sm btn-flat">Beli</button>'+
                            '    </div>'+
                            '</div>';
                        }
                    }
                }
                botHtml = botHtml+'</div>';
                $("#chat-box").append(botHtml);
                $("#chat-box").scrollTop($('#chat-box')[0].scrollHeight);
                //document.getElementById('chat-box').scrollTop({block: 'start', behavior: 'smooth'});
                //document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        }
        function getBotResponse() {
              var rawText = $("#textInputChat").val();
              var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
              $("#textInputChat").val("");

              merchantId =parseInt($( "#merchantIdChat" ).val());
              $.ajax({
                    url: "/nlp/request",
                    headers: {'Content-Type' : 'application/json'},
                    type: 'POST',
                    data: JSON.stringify({"single_id":"", "client_id":"", "merchant_id": merchantId, "platform": "browser", "agent":"browser", "text": rawText,"token" : token , "chat_id" : chatId}),
                    dataType: 'JSON',
                    success: function (result) {
                        addItemChat(result.data)
                        switch (result) {
                            case true:
                                //alert('bisa');
                                //processResponse(result);
                                break;
                            default:
                                //alert('ndak bisa');
                                //resultDiv.html(result);
                        }

                    }
                });
                addItemChat(data.data)
        }
        $("#textInputChat").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInputChat").click(function() {
            getBotResponse();
        });

        function initMerchantList() {
            $.ajax({
                url: "/merchant/list",
                headers: {'Content-Type' : 'application/json'},
                type: 'POST',
                data: JSON.stringify({"token" : token}),
                dataType: 'JSON',
                success: function (result) {
                    var botHtml='';
                        for (i = 0; i < result.data.length; i++) {
                            if (result.data[i].name != null) {
                                botHtml =botHtml+'<option value='+String(result.data[i].id)+' >'+ result.data[i].name+ '</option>';
                            }
                        }
                    $("#merchantIdChat").append(botHtml)
                    $("#merchantIdTrigger").append('<option value=0 >GLOBAL</option>')
                    $("#merchantIdTrigger").append(botHtml)
                }
            });
        }
        initMerchantList()

        function addItemCollection(data) {
            //alert(data)
            var i;
            var botHtml ='<li>'+
                '<span class="handle">'+
                '    <i class="fa fa-ellipsis-v"></i>'+
                '    <i class="fa fa-ellipsis-v"></i>'+
                '</span>'+
                '<input type="checkbox" id="cheked-'+data+'" value="">'+
                '<span class="text">'+data+'</span>'+
                '<small class="label label-succes"> '+
                '    <span class="text">  </span>'+
                '    <i class="fa fa-clock-o"></i> ' +
                '</small>'+
                '</li>';
            //alert(botHtml);
            $("#collection-list").append(botHtml);
        }
        function initCollectionList() {
            $.ajax({
                url: "/collection/list",
                headers: {'Content-Type' : 'application/json'},
                type: 'POST',
                data: JSON.stringify({"token" : token}),
                dataType: 'JSON',
                success: function (result) {
                    listCollection = result.data
                    for (i = 0; i < result.data.length; i++) {
                        addItemCollection(result.data[i])
                    }
                }
            });
        }


        initCollectionList()


        function initIntentList() {
            $.ajax({
                url: "/intent/list?token="+token,
                headers: {'Content-Type' : 'application/json'},
                //type: 'POST',
                //data: JSON.stringify({"token" : token}),
                dataType: 'JSON',
                success: function (result) {
                    var botHtml='';
                        for (i = 0; i < result.data.length; i++) {
                           botHtml =botHtml+'<option value="'+result.data[i]+'">';
                        }
                    $("#intentList").append(botHtml)
                }
            });
        }
        initIntentList()
        $("#saveInputTrigger").click(function() {
            var merchantId =$( "#merchantIdTrigger" ).val();
            var question = $("#triggerQuestion").val();
            var intent = $("#triggerIntent").val();
            var answer  = $("#triggerAnswer").val().split('\n');
            $.ajax({
                url: "/input_trigger/create",
                headers: {'Content-Type' : 'application/json'},
                type: 'POST',
                data: JSON.stringify({"token" : token, "merchantId": merchantId, "question": question, "intent": intent, "answer": answer}),
                dataType: 'JSON',
                success: function (result) {
                    $("#triggerAnswer").val('')
                    $("#triggerQuestion").val('')
                    alert(result.message)
                }
            });

        })



    });
</script>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Nlp-Engine Admin</h1>
            <p class="lead">
                Authentication
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser : <br><br>

                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

{% endblock body %}


