{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content" >
    <div id="content-setting">




        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Form User</h3>
            </div>

        <div class="well">
            <form action="/user/save" method="POST" name="user_form">
                <input type="hidden" name="page" value={{ page }}>
                <input type="hidden" name="limit" value={{ limit }}>
                <input type="hidden" name="search" value="{{ searchText }}">
                <input type="hidden" name="mode" value="{{ mode }}">
                <input type="hidden" name="_id" value={{ data._id }}>
                <div class="form-group">
                      <input type="text" class="form-control" name="email" id="email" value="{{ data.email }}" placeholder="Email...">
                </div>
                <div class="form-group">
                      <input type="text" class="form-control" name="name" id="name" value="{{ data.name }}" placeholder="Name...">
                </div>
                <div class="form-group">
                      <input type="text" class="form-control" name="token" id="token" value="{{ data.token }}" placeholder="Token...">
                </div>
                <div class="form-group">
                    <select name="role" id="role" >
                        {% for role in listRole %}
                            <option value={{ role._id }} >{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                      <select name="active" id="active" >
                          <option value=True >true</option>
                          <option value=False >false</option>
                      </select>

                </div>

                <div class="box-footer clearfix">
                  <button type="submit" class="pull-right btn btn-default" id="saveUser">Save
                    <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </form>

        </div>


        </div>
    </div>
</section>
<script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $( "#active" ).val('{{ data.active }}')
        $( "#role" ).val('{{ data.roles[0] }}')
  });
</script>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Nlp-Engine Admin</h1>
            <p class="lead">
                Authentication
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser : <br><br>

                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

{% endblock body %}


