{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content" >
    <div id="content-setting">




        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data User</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example1_length">
                            <label>
                                Show
                                <select name="selectLimit" id="selectLimit" class="form-control input-sm" >
                                    <option value=10>10</option>
                                    <option value=25>25</option>
                                    <option value=50>50</option>
                                    <option value=100>100</option>
                                </select>
                                entries
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="example1_filter" class="dataTables_filter pull-right">
                            <label>Search:<input id="searchText" name="searchText" class="form-control input-sm" placeholder="" aria-controls="example1" type="search"></label>
                        </div>
                    </div>
                </div>
                  <div class="row">
                  <thead>
                <tr>
                  <th>Email</th>
                  <th>Name</th>
                  <th>Token</th>
                  <th>Created_at</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{ data.email }}</td>
			        <td>{{ data.name }}</td>
			        <td>{{ data.token }}</td>
			        <td>{{ data.created_at }}</td>
                    <td>{{ data.active }}</td>
			        <td class="text-right">
                      <div class="row">
					    <form action="/user/{{ data._id }}/delete" method="GET" class="pull-right">
						    <input type="hidden" name="page" value="{{ page }}">
                            <input type="hidden" name="limit" value="{{ limit }}">
                            <input type="hidden" name="search" value="{{ searchText }}">
						    <input type="submit" class="btn btn-danger" data-toggle="confirmation" { data-title="Data akan dihapus?" } value="Delete">
					    </form>
					  <a class="btn btn-primary pull-right" href="/user/{{ data._id }}/update">Edit</a>
				    </div>
                </tr>
                {% endfor %}
                </tbody>
                  </div>
              </table>
              <div class="box-footer">
                  <div class="row">
                      <div class="col-sm-5">
                          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{ ((page-1) * limit +1) }} to {{ page * limit }} of {{ countData }} entries</div>
                          <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                              <ul class="pagination">
                                  <li class="paginate_button previous {% if page==1 %} disabled {% endif %} " id="example1_previous">
                                      <a href="/user?limit={{ limit }}&page={{ page-11 }}&search={{ searchText }}"  aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                  </li>
                                  <li class="paginate_button next {% if (page)*limit > countData %} disabled {% endif %}" id="example1_next">
                                      <a href="/user?limit={{ limit }}&page={{ page+1 }}&search={{ searchText }}" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-sm-7 pull-right">

                      </div>
                  </div>
             <a href="/user/create?limit={{ limit }}&page={{ page+1 }}&search={{ searchText }}" class="btn btn-info" role="button">Tambah Data </a>
              </div>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<script type="text/javascript">

  $(document).ready(function(){
        page = {{ page }}
        limit = {{ limit }}
        searchText = '{{ searchText }}'
        countData = {{ datas.count }}
        $("#selectLimit").val(limit);
        $("#searchText").val(searchText);

        $('#selectLimit').change(function(){
            limit = $("#selectLimit").val();
            page=1;
            window.location.replace("/user?limit="+String(limit)+"&page="+String(page)+"&search="+searchText)
        });

        $('#searchText').keypress(function (e) {
          if (e.which == 13) {
            searchText = $("#searchText").val();
            page=1;
            window.location.replace("/user?limit="+String(limit)+"&page="+String(page)+"&search="+searchText)
          }
        });
   });
</script>
<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>Nlp-Engine Admin</h1>
            <p class="lead">
                Authentication
            </p>
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser : <br><br>

                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

{% endblock body %}


